<div class="container  justify-content-center">
  <div>
    <div class="card shadow-sm p-3 mb-5 bg-body rounded border-warning mb-3" style="max-width: 25rem; margin-left:20px;">
      <form class="login-form">
        <div>
          <label for="email-login" class="form-label">Email:</label>
          <input type="control" id="email-login" class="form-control" />
        </div>
        <div>
          <label for="password-login" class="form-label">Password:</label>
          <input type="password" id="password-login" class="form-control" />
        </div>
        <div>
          <button type="submit" class="btn btn-warning mt-3 bottom-0 end-0">Submit</button>
        </div>
        <hr>
        <div>For New Users:  <a class="login-link" href="/signup" style="text-decoration: none;">SignUp</a></div>
      </form>
    </div>
  </div>
</div>

<script src="/javascript/login.js"></script>