<div class="container user-box justify-content-center">
  <div class="row">
    <div class="col-md-6">
      <div class="card shadow-sm p-3 mb-5 bg-body rounded border-Warning  mb-3" style="max-width: 25rem; margin-left:20px;">
        <form class=" signup-form">
          <div>
            <label for="username-signup" class="form-label">User name:</label>
            <input type="control" id="username-signup" class="form-control" />
          </div>
          <div>
            <label for="email-signup" class="form-label" class="form-label">Email:</label>
            <input type="control" id="email-signup" class="form-control" />
          </div>
          <div>
            <label for="password-signup" class="form-label">Password:</label>
            <input type="password" id="password-signup" class="form-control" />
          </div>
          <div>
            <button type="submit" class=".signup-form btn btn-Warning mt-3 bottom-0 end-0">Submit</button>
          </div>
          <hr>
          <div>Alreade In ? please  <a class="login-link" href="/login" style="text-decoration: none;">Login</a></div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/javascript/signup.js"></script>